body {
	background-color: black;
	.pop-up__wrapper{
		position: absolute;
		background-color: black;
		z-index: 1000 ;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		opacity: 1;
		.pop-up{
			margin: 0 auto;
			background-color: blueviolet;
			border: 8px solid white;
			width: 50vw;
			height: 60vh;
			padding: 2vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.salutation{
				text-align: center;
				font-family: 'DotGothic16', sans-serif;
				font-size: 100px;
				text-transform:uppercase;
				letter-spacing: 1vw;
			}
		}
	}
	.display{
		position: absolute;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: blanchedalmond;
		.all-bolloon{
			text-align: center;
			color: red;
			font-size: 50px;
		}
		.timer{
			font-size: 400px;
			text-align: center;
			opacity: 0.1;
		}
		.count__wrapper{
			text-align: center;
			font-size: 50px;
		}
	}
	.needle{
	}
	.balloon{
		position: absolute;
	}
	.result__wrapper{
		position: absolute;
		background-color: black;
		z-index: 1000 ;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		opacity: 0;
		.result{
			margin: 0 auto;
			background-color: blueviolet;
			width: 50vw;
			height: 60vh;
			border: 8px solid white;
			text-align: center;
			font-family: 'DotGothic16', sans-serif;
			font-size: 100px;
			text-transform:uppercase;
			letter-spacing: 1vw;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.finish{
				color: red;
			}
		}
	}
}